@import'variaveis.scss';
.btn{
    padding: 5px 20px;
    &.btn-laranja{
        background: $color-tercearia;
        color: $color-branco;
        border-radius: 28px;
        padding: 13px;
    }
}
