@import'variaveis.scss';
.sobre-web-design{
    justify-content: space-between;
    align-items: center;
    article{
        margin-top: 102px;
        width: 300px;
        h1{
            font-size: 90px;
            color: $color-segundaria;
        }
        h2{
            font-size: 50px;
            text-transform: uppercase;
            letter-spacing: 14px;
            line-height: 100%;
        }
        p{
            margin: 40px 0 50px
        }
        h2 , p{
            color: $color-prima;
        }
    figcaption{
        img{
            width:830px ;
            right: 40px;
            }
        }
    }
    a{
        font-size: 27px; 
    }
}