.sobre-web-design{
    justify-content: space-between;
    align-items: center;
}
.sobre-web-design article{
    margin-top: 102px;
    width: 300px;
}
.sobre-web-design article h1{
    font-size: 90px;
    color: #333366;
}
.sobre-web-design article h2{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 14px;
    line-height: 100%;
    
}
.sobre-web-design figcaption img{
    width:830px ;
    right: 40px;

}
.sobre-web-design article p{
    margin: 40px 0 50px;
}
.sobre-web-design article h2,
.sobre-web-design article p{
    color: #3399CC;
}
.sobre-web-design a{
    font-size: 27px;
}