/*font*/
@import url("https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Source+Sans+Pro:wght@200;300;400 & display=swap");
/*Components*/
header section {
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav ul li {
  margin: 0 19px;
}
header a {
  color: #3399cc;
}

.btn {
  padding: 5px 20px;
}
.btn.btn-laranja {
  background: #ff6633;
  color: white;
  border-radius: 28px;
  padding: 13px;
}

.sobre-web-design {
  justify-content: space-between;
  align-items: center;
}
.sobre-web-design article {
  margin-top: 102px;
  width: 300px;
}
.sobre-web-design article h1 {
  font-size: 90px;
  color: #333366;
}
.sobre-web-design article h2 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 14px;
  line-height: 100%;
}
.sobre-web-design article p {
  margin: 40px 0 50px;
}
.sobre-web-design article h2, .sobre-web-design article p {
  color: #3399cc;
}
.sobre-web-design article figcaption img {
  width: 830px;
  right: 40px;
}
.sobre-web-design a {
  font-size: 27px;
}

footer ul li {
  margin: 19px 37px 0 0;
  align-items: center;
}
footer ul li img {
  width: 40px;
}

/*criando responsividade*/
@media (max-width: 1455px) {
  body {
    background-size: 300px;
  }
  .sobre-web-design figcaption img {
    width: 830px;
    right: 41px;
  }
  .sobre-web-design article {
    margin-top: 102px;
    width: 260px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "Source Sans Pro", sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url("../images/bolha-background.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 730px;
}

.conteiner {
  width: 1300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1455px) {
  .conteiner {
    width: 1104px;
  }
  .sobre-web-design figcaption img {
    width: 730px;
    right: 40px;
  }
}
@media (max-width: 1305px) {
  .conteiner {
    width: 1084px;
  }
  .conteiner.sobre-web-design figcaption img {
    width: 730px;
    right: 40px;
  }
}
@media (max-width: 1175px) {
  .conteiner {
    width: 1004px;
  }
  .conteiner.sobre-web-design figcaption img {
    width: 1000px;
    right: 40px;
  }
  .conteiner.sobre-web-design article {
    margin: 8px 0;
    width: 600px;
  }
  .conteiner.sobre-web-design .row {
    flex-direction: column;
  }
  .conteiner.sobre-web-design body {
    background-position: left top;
    background-color: #b1f4ff;
  }
  .conteiner.sobre-web-design header nav {
    margin: 50px 0 40px 0;
  }
  .conteiner.sobre-web-design footer .row {
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 1038px) {
  .conteiner {
    width: 900px;
  }
  .conteiner.sobre-web-design figcaption img {
    width: 900px;
    right: 40px;
  }
  .conteiner.sobre-web-design article {
    margin: 8px 0;
    width: 600px;
  }
  .conteiner.sobre-web-design .row {
    flex-direction: column;
  }
  .conteiner.sobre-web-design body {
    background-position: left top;
    background-color: #b1f4ff;
  }
  .conteiner.sobre-web-design header nav {
    margin: 50px 0 40px 0;
  }
  .conteiner.sobre-web-design footer .row {
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .conteiner {
    width: 700px;
  }
  .sobre-web-design figcaption img {
    width: 700px;
    right: 42px;
  }
  .sobre-web-design article {
    margin: 8px 0;
    width: 600px;
  }
  .sobre-web-design article h1, h2 {
    font-size: 100px;
    margin: 20px 0 10px 0;
  }
  .sobre-web-design article p {
    margin: 40px 0 50px;
    font-size: 26px;
  }
  .row {
    flex-direction: column;
  }
  body {
    background-position: left top;
    background-color: #b1f4ff;
  }
  header nav {
    margin: 50px 0 40px 0;
  }
  footer .row {
    flex-direction: row;
    justify-content: center;
  }
  header nav {
    background: rgba(87, 211, 172, 0.6392156863);
    width: 600px;
    padding: 10px 0 30px;
    border-radius: 30px;
    box-shadow: 0px 7px 34px rgb(37, 36, 36);
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    margin: 9px 0;
  }
  header a {
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
